{% extends 'container.twig' %}

{% block container %}
    <h1>Bienvenue sur GoSecuri</h1>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10">
            <div class="text-center display-2 text-success mb-1 mt-5 pt-5"><i class="fal fa-shield-check"></i></div>
            <h2 class="text-center">Connectez-vous pour emprunter ou rendre du matériel</h2>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        var video = document.querySelector("#videoElement");
        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({video: true})
                .then(function(stream) {
                    video.srcObject = stream;
                })
                .catch(function(err0r) {
                    console.log("Something went wrong!");
                });
        }
    </script>
{% endblock %}
