{% extends 'container.twig' %}

{% block container %}
    <h1>Bienvenue sur GoSecuri</h1>
<<<<<<< HEAD
    <h2 class="text-center pt-5">Connectez-vous pour emprunter ou rendre du matériel</h2>
    <div class="text-center display-4 text-success"><i class="fal fa-shield-check"></i></div>
=======
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10">
            <div class="text-center display-2 text-success mb-1 mt-5 pt-5"><i class="fal fa-shield-check"></i></div>
            <h2 class="text-center">Connectez-vous pour emprunter ou rendre du matériel</h2>
        </div>
    </div>

>>>>>>> 061b621e5d484b261beebf7b0f0c7e26534d259b
{% endblock %}

{% block scripts %}
    <script>
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.querySelector("#videoElement");
        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({video: true})
                .then(function(stream) {
                    video.srcObject = stream;
                })
                .catch(function(err0r) {
                    console.log("Something went wrong!");
                });
        }
        document.getElementById("snap").addEventListener("click", function(event) {
            event.preventDefault();
	        context.drawImage(video, 0, 0, 640, 480);
        });

    </script>
{% endblock %}
