{% extends 'container.twig' %}

{% block container %}
    <h1>Bienvenue sur GoSecuri</h1>
    <div>
        <p>salut</p>
        <video></video>
        <script src="webcam.js"></script>
    </div>
{% endblock %}