body {
    padding-top: 4.5rem;
}

.btn-pill {
    border-radius: 1.15rem;
}

.btn-sm.btn-pill {
    border-radius: 1rem;
}

.btn-lg.btn-pill {
    border-radius: 1.45rem;
}

/* #videoElement {
    width: 500px;
    height: 500px;
    /* background-color: #666; */
} */
